@use 'fylo-container';
@use 'info-container';

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

$dark-blue: hsl(228, 56%, 26%);
$v-dark-blue: hsl(229, 57%, 11%);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 20px;
    background-color: $dark-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Raleway',sans-serif;
    background-image: url('/images/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container {
    display: grid;
    padding: .5rem;
    gap: 2rem;
}

.attribution {
    position: absolute;
    bottom: 0;
    display: flex;
    align-self: center;
}

// Desktop form

@media screen and (min-width:1024px){
    body {
        background-image: url('/images/bg-desktop.png');
        background-position-y: 50vh;
        background-size: contain;
        background-color: $v-dark-blue;

    .grid-container {
        grid-template-columns: 1fr 1.5fr;
        margin: 0 12rem;
    }
    }
}

//fixing some visual bugs using an incorrect way but.. Probably this error is only because the web dev tools
@media screen and (min-width:1024px) and (max-width:1125px){
    body {
        background-position-y: 55vh;
    }
}

